h1
    {
        padding: 10px;
        background-color: green;
        color: white;
    }

strong
    {
        color: blue;
    }

em{
    color: blue;
    font-style: italic;
    }

img{
    width: 100%;
    border-radius: 50%;
   } 

h3
{
    color: red;
}

a{
    color: green;
    text-decoration: underline;
}